<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Project Type:</strong>
  <%= @service.project_type.humanize %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @service.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Project Url:</strong>
  <%= @service.project_url %>
</p>

<p>
  <strong>Client:</strong>
  <%= @service.client %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
