<div class='container'>
  <p id="notice"><%= notice %></p>

  <h1><%= @project_type %> Requests</h1>
  <% if client_signed_in? %>
    <%= link_to 'Request A Project', new_service_request_path %>
  <% elsif admin_signed_in?  %>
    <%= link_to "Dashboard", dashboard_path %>
  <% else %>
    <%= link_to 'Request A Project', new_client_session_path %>
  <% end %>
      <% @service_requests.each do |service_request| %>
        <div class='panel panel-default'>
          <h2><%= service_request.title.titleize %></h2>
          <h5>by: <%= service_request.client.name %></h5>
            <%= link_to 'Show', service_request %> |
            <% if current_client == service_request.client || admin_signed_in? %>
              <%= link_to 'Edit', edit_service_request_path(service_request) %> |
              <%= link_to 'Destroy', service_request, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        <hr>
      <% end %>
  <br>
</div>
